<section class="editProfile">
    <div class="container mx-auto mb-16">
        <div class="mx-auto block items-center w-1/2">
            <div>
                <img src="<%=users.profilepicPath?users.profilepicPath:"/images/noProfilepic.png"%>"  id="editPicture" class="w-40 h-40 rounded-full mx-auto" alt="">
                <div class="w-1/6 mx-auto items-center mt-8 ">
                <button class=" font-bold text-xl link text-green-800 ml-4 pb-4 " id="btn_uploadPic">Edit picture</button>
                </div>
            </div>
            <div>
                <form action="/editProfile" method="post" enctype="multipart/form-data">
                     <input type="file" id="profilePic" oninput="editPicture.src=window.URL.createObjectURL(this.files[0])" name="profilePic" accept="image/*" hidden>
                    <div class="mb-6">
                        <label for="name" class="block mb-2 text-sm text-xl text-black">Name</label>
                        <input type="text" id="name" class=" border border-black text-black text-sm rounded-lg  focus:outline-none block w-full p-2.5" name="name" value="<%=users.name%>">
                      </div>
                    <div class="mb-6">
                      <label for="email" class="block mb-2 text-sm text-xl text-black">Email</label>
                      <input type="email" id="email" name="email" value="<%=users.email%>"  class=" border border-black text-black text-sm rounded-lg  focus:outline-none block w-full p-2.5" >
                    </div>
                    <div class="mb-6">
                        <label for="bio" class="block mb-2 text-sm text-xl text-black">Bio</label>
                        <input type="text" id="bio" name="bio" value="<%=users.bio%>" class=" border border-black text-black text-sm rounded-lg  focus:outline-none block w-full p-2.5"  >
                      </div>
                      <div class="mb-6">
                        <label for="phoneNumber" class="block mb-2 text-sm text-xl text-black">Phone Number</label>
                        <input type="text" id="phoneNumber" name="phoneNumber" value="<%=users.phoneNumber%>" class=" border border-black text-black text-sm rounded-lg  focus:outline-none block w-full p-2.5"  >
                      </div>
                      <button class="btn text-center  rounded-full text-white px-4 py-2 font-medium">SUBMIT</button>
                  </form>                  
            </div>
        </div>
    </div>
</section>